# Auto detect text files and normalize line endings to LF in the repo
* text=auto eol=lf

# Explicitly declare text files
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.feature text eol=lf
*.properties text eol=lf
*.html text eol=lf
*.css text eol=lf
*.env text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.apk binary
*.ipa binary
